html {
	height: 100%;
	font-family: Helvetica;
}

body {
	background-color: #f6f6f6;
	height: 100%;
}

body > div {
	margin: auto;
	margin-top: 170px;
	width: 450px;
}

img.me {
	padding: 5px;
	border: 1px solid #e1e1e1;
	box-shadow: 1px 1px 2px #e1e1e1;
}

a img {
	margin-right: 5px;
}